body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Title */
#title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 26px;
  color: white;
  z-index: 1;
}

/* Subtitle */
#subtitle {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 16px;
  color: white;
  z-index: 1;
}

/* Legend */
#legend {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 150px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1;
}
