html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    z-index: 1;
}

#subtitle {
    position: absolute;
    top: 55px;
    left: 20px;
    color: white;
    font-size: 14px;
    z-index: 1;
}
