body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Title */
#title {
  position: absolute;
  top: 20px;
  left: 20px;
  background: white;
  padding: 8px 12px;
  font-size: 22px;
  border-radius: 4px;
}

/* Subtitle */
#subtitle {
  position: absolute;
  top: 65px;
  left: 20px;
  background: white;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
}

/* Legend */
#legend {
  position: absolute;
  bottom: 30px;
  right: 20px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
}
