body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Titles */
#title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
}

#subtitle {
    position: absolute;
    top: 55px;
    left: 20px;
    font-size: 14px;
    color: white;
}

/* Legend */
#legend {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}

.break {
    margin-bottom: 6px;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    opacity: 0.7;
}
